<% provide(:title, "Contacts") %>
<html>
    <head>
    </head>
        <body>
        <div class="center jumbotron">
            <h1>We`re suggussting our contacts:</h1>            
        </div>

            <p>Contacts of administrator:
                email: konviss@yandex.ru
                mobile: 80299877865
                adress: Brest-region
            </p>

        </body>
</html>