<% provide(:title, "Home") %>
<html>
    <head>
        <title><%= yield(:title) %> | RoR Sample Test</title>
        </head>
        <body>
    <h1>
    Sample app
</h1>
<p>
This is a home page for the sample application
</p>
</body>
</html>
