<footer class="footer">
    <small>
        The example of footer
    </small>

    <nav>
        <ul>
            <li><%= link_to "About", about_path %></li>
            <li><%= link_to "Contacts", contacts_path %></li>
            <li><a href="http://rubyonrails.org/">News of the Ruby world</li>
        </ul>
    </nav>
</footer>